$fpo-size: 100% !default;
$fpo-bg: $color--blue !default;
$fpo-color--text: #fff !default;
$fpo-text: 'FPO' !default;

%fpo {
  position: relative;

  &:before {
    content: '';
    display: block;
  }

  &:after {
    font: 20px/1 Helvetica;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

<<<<<<< HEAD
/// Creates a "For Placement Only" Image
/// @arg {Number} $height-ratio [1] - What is the size of the image being placed?
/// @output An :after pseudo-element with padding-bottom equal to the $height-ratio percentage

@mixin fpo(
  $ratio: $fpo-size,
=======
@mixin fpo(
  $size: $fpo-size,
>>>>>>> gh-pages
  $bg: $fpo-bg,
  $color--text: $fpo-color--text,
  $text: $fpo-text
) {
<<<<<<< HEAD
  @if (type-of($ratio) != number) {
    @error "$ratio requires either a percentage or an integer";
=======
  @if (type-of($size) != number) {
    @error "$size requires either a percentage or an integer";
>>>>>>> gh-pages
  }
  @extend %fpo;
  background: $bg;

<<<<<<< HEAD
  @if (unitless($ratio)) {
    padding-bottom: percentage($ratio)
  } @else {
    padding-bottom: $ratio;
=======
  &:before {
    padding-bottom: if(unitless($size), percentage($size), $size);
>>>>>>> gh-pages
  }

  &:after {
    @if (type-of($bg) == color) {
      @debug abs(lightness($bg) - lightness($color--text));
      @if (abs(lightness($bg) - lightness($color--text)) < 25%) {
        @warn "The contrast between the text and background-color is very low";
      }
    }
<<<<<<< HEAD

=======
>>>>>>> gh-pages
    content: $text;
    color: $color--text;
  }
}